<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<link rel="stylesheet" th:href="@{css/estilos.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>


	<body class="index_body">
	<div class="row">
		<header th:replace="~{layouts/header :: header}"></header>
	</div>	
	<div class="container-fluid">
	<div class="row">
		<div class=".row">
			<div class=".col-md-4 ">
				<article class="index_article">
				
					<section>
						<p>
						<b>¿Quienes somos?</b><br>
						Somos una pequeña empresa que busca ayudar a tus mascotas, a través de nuestra variedad de productos <br>
						y servicios dedicados a tus compañeros cánidos, felinos o de cualquier otro tipo.
						</p>
					</section>
					
					<section>
						<p>
						<b>¿Cual es nuestro objetivo?</b><br>
						Nuestro objetivo es brindarte la mejor experiencia de servicio y la mejor calidad de producto <br>
						para vos y tu amigo peludo. Con productos de todo tipo hechos para el estímulo de tu mascota <br>
						a través del ejercicio físico o pensamiento para resolver pequeños acertijos y obtener su comida, <br>
						o simplemente jugar y pensar al mismo tiempo. ¡Disfruta!
						</p>
					</section>
				
				</article>
			</div>
			<div class=".col-md-2 ">
				<aside class="index_aside">
					<p><b>Contenido relacionado</b></p>
					<div>
						<a href="https://www.clarin.com/viste/elegir-mejor-tipo-alimento-perro_0_rM6xA8m02v.html" target="blank">Como elegir el mejor alimento para tu perro (Clarin)</a><br>
						<img th:src="@{images\perro.png}">
					</div>
					<div><br>
						<a href="https://www.latercera.com/practico/noticia/consejos-para-escoger-el-mejor-alimento-para-gatos/4WMDLEAJ5BFOVH2UDARSPXDBCE/" target="blank">Como elegir el mejor alimento para tu gato (LaTercera)</a><br>
						<img th:src="@{images\gato.png}" >
					</div>
				
				</aside>
			</div>
		</div>
	</div>
	<div class="row">
	
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	
	</div>
	</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>