 <!DOCTYPE html> 
 
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<title>Servicio de Paseos</title>
	<link rel="stylesheet" th:href="@{../../css/estilos.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body class="body_sucursales-paseo">
		<div class="container">
			<header th:replace="~{layouts/header :: header}"></header>	
			<div class="row justify-content-center">
			<div class="col-md-6">
				<section class="text-center">
					<h1 th:text="${edicion}?'Modificar Servicio' : 'Nuevo Servicio'"></h1>
					
					<form th:action="${edicion}?@{/servicios/modificar}:@{/servicios/guardar}" th:object="${servicio}" method="post" id="nuevoservicio" th:classappend="${#fields.hasErrors() ? 'was-validated' : ''}">
					
					<div class="form-group mb-3">
						<label for="dia">Día</label><br>
						<select id="dia"name="servicio_dia" th:field="*{dia}" class="form-control" >
							<option value="Lunes">Lunes</option>
							<option value="Martes">Martes</option>
							<option value="Miercoles">Miercoles</option>
							<option value="Jueves">Jueves</option>
							<option value="Viernes">Viernes</option>
						</select>
						<div class="text-danger" th:if="${#fields.hasErrors('dia')}" th:errors="*{dia}"></div>
					</div>
					
					
					<div class="form-group mb-3">
						<label for="categoria">Categoria</label>
						<select id="categoria"name="servicio_categoria" th:field="*{categoria}" class="form-control" >
							<option th:each="categoria : ${categorias}"
							th:value="${categoria}" th:text="${categoria}"></option>
						</select>
						<div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
					</div>
					
					
					<div class="form-group mb-3">
						<label for="paseador">Paseador</label>
						<div class="text-danger" th:if="${#fields.hasErrors('paseador')}" th:errors="*{paseador}"></div>
						<input type="text" id="paseador" th:field="*{paseador}" class="form-control mb-3" >
					</div>
							
							
					<div class="form-group mb-3">	
						<label for="horainicio">Hora de inicio</label> <br>
						<input type="number" id="horainicio" name="servicio_horainicio" th:field="*{horainicio}" class="form-control mb-3" >
						<div class="text-danger" th:if="${#fields.hasErrors('horainicio')}" th:errors="*{horainicio}"></div>
					</div>
					
					
					<div class="form-group mb-3">	
						<label for="horafin">Hora de finalización</label> <br>
						<input type="number" id="horafin" name="servicio_horafin" th:field="*{horafin}" class="form-control mb-3">
						<div class="text-danger" th:if="${#fields.hasErrors('horafin')}" th:errors="*{horafin}"></div>
					</div>
					
					<input type="number" value=${id} name="servicio_id" class="d-none" th:field="*{id}">
					
					
					<div class="text-center m-4">
						<input type="submit" class="btn btn-lg btn-primary" value='Guardar'>
					</div>
					
					</form>	
					</section>
					</div>
				</div>
			<footer th:replace="~{layouts/footer :: footer}"></footer>
		</div>
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>