<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>

	<meta charset="UTF-8">
	<title>Sucursales</title>
	<link rel="stylesheet" th:href="@{../../css/estilos.css}">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

	<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body class="body_sucursales-paseo">

	<header th:replace="~{layouts/header :: header}"></header>

	<div class="container ">
		<div class="row">


			<div class="row mb-3" id="newsucu">
				<h3 th:text="${edicion}?'Modificar Sucursal' : 'Nueva Sucursal'" class="text-center"></h3>
			</div>
			<div class="col-2"></div>
			<div class="col-8">
				<form th:action="${edicion}?@{/sucursales/modificar}:@{/sucursales/guardar}" th:object="${sucursal}"
					method="post" id="nuevasucursal">
					<div hidden="">
						<input type="text" class="form-control" name="sucursal_nombre" th:field="*{id}">
					</div>
					<div class="mb-2">
						<label for="nombre">Nombre</label><br>
						<input type="text" class="form-control" id="nombre" name="sucursal_nombre" th:field="*{nombre}">
						<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>

					</div>
					<br>

					<div class="mb-2">
						<label for="direccion">Direccion</label>
						<input type="text" class="form-control" id="direccion" name="sucursal_direccion"
							th:field="*{direccion}">
						<div class="text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">
						</div>

					</div>
					<br>

					<div class="mb-2">
						<label for="provincia">Provincia</label>
						<select id="provincia" name="sucursal_provincia" th:field="*{provincia}">
							<!--<option th:each="provincia : ${provincias}" th:value="${provincia}" th:text="${provincia}"></option>-->
							<option value="Buenos Aires">Buenos Aires</option>
							<option value="Catamarca">Catamarca</option>
							<option value="Chaco">Chaco</option>
							<option value="Chubut">Chubut</option>
							<option value="Córdoba">Córdoba</option>
							<option value="Corrientes">Corrientes</option>
							<option value="Entre Ríos">Entre Ríos</option>
							<option value="Formosa">Formosa</option>
							<option value="Jujuy">Jujuy</option>
							<option value="La Pampa">La Pampa</option>
							<option value="La Rioja">La Rioja</option>
							<option value="Mendoza">Mendoza</option>
							<option value="Misiones">Misiones</option>
							<option value="Neuquén">Neuquén</option>
							<option value="Río Negro">Río Negro</option>
							<option value="Salta">Salta</option>
							<option value="San Juan">San Juan</option>
							<option value="San Luis">San Luis</option>
							<option value="Santa Cruz">Santa Cruz</option>
							<option value="Santa Fe">Santa Fe</option>
							<option value="Santiago del Estero">Santiago del Estero</option>
							<option value="Tierra del Fuego">Tierra del Fuego</option>
							<option value="Tucumán">Tucumán</option>
						</select>
						<div class="text-danger" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}">
						</div>

					</div>
					<br>

					<div class="mb-2">
						<label for="fecha">Fecha de Inicio</label>
						<input type="date" class="form-control" id="fecha" name="sucursal_fecha"
							th:field="*{fechaInicio}">
						<div class="text-danger" th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}">
						</div>

					</div>
					<br>
					<div class="mb-2">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" name="sucursal_email" th:field="*{email}">
						<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

					</div>
					<br>
					<div class="mb-2">
						<label for="telefono">Telefono</label>
						<input type="number" class="form-control" id="telefono" name="sucursal_telefono"
							th:field="*{telefono}">
						<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>

					</div>
					<br>

					<div class="mb-2">
						<label for="empleados">Num. Empleados</label>
						<input type="number" class="form-control" id="empleados" name="sucursal_empleados"
							th:field="*{empleados}" onchange="actualizarEmpleados()">
						<div class="text-danger" th:if="${#fields.hasErrors('empleados')}" th:errors="*{empleados}">
						</div>

					</div>
					<br>
					<p><input type="submit" class="button" value='Guardar'></p>

				</form>

			</div>
			<div class="col-2"></div>
		</div>
	</div>

	<footer th:replace="~{layouts/footer :: footer}"></footer>

	<script type="text/javascript">
		function actualizarEmpleados() {
			var precioInput = document.getElementById('empleados');
			if (precioInput.value.trim() === '') {
				precioInput.value = '0';
			}
		}
	</script>
</body>

</html>